

<h1>Listing Ticket Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_categories.each do |ticket_category| %>
      <tr>
        <td><%= ticket_category.name %></td>
        <td><%= link_to 'Show', ticket_category %></td>
        <td><%= link_to 'Edit', edit_ticket_category_path(ticket_category) %></td>
        <td><%= link_to 'Destroy', ticket_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket category', new_ticket_category_path %>
