<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :organization_id %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :ticket_category_id %>
    <%= f.input :ticket_status_id %>
    <%= f.input :contact %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
