<div class="row">
  <div class="col-md-10 col-md-offset-1">
<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @ticket.unit_id %>
</p>

<p>
  <strong>Kısa Açıklama:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Detaylı Açıklama:</strong>
  <%= @ticket.content %>
</p>

<p>
  <strong>Çağrı Kategorisi:</strong>
  <%= @ticket.ticket_category_id %>
</p>

<p>
  <strong>Çağrı Durumu:</strong>
  <%= @ticket.ticket_status_id %>
</p>

<p>
  <strong>Çağrı Türü:</strong>
  <%= @ticket.ticket_type_id %>
</p>

<p>
  <strong>İletişim Bilgileri(Dahili):</strong>
  <%= @ticket.contact %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
  </div>
</div>